# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
/coverage

# Production / Builds
/dist
/build
.expo/
*.apk
*.ipa
*.eas

# Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
firebase-service-account.json
tournex-*-firebase-adminsdk-*.json

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# System Files
.DS_Store
Thumbs.db
